.card {
  min-width: 180px;
  height: 220px;
  background: #68c6e1;
  border-radius: 14px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
  transition: transform 0.1s ease;
}

.card:hover {
  transform: translateY(-2px);
}

.header {
  align-items: center;
  justify-content : center;
  margin-bottom: 0.5rem;
  display: flex;
  gap : 4px;
}

.name, .lastName {
  display: block;
  font-weight: bold;
  font-size: 0.9rem;
  color: #333;
}

.photoWrapper {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  background: #f5f5f5;
}

.photo {
  max-width: 100%;
  max-height: 120px; /* limite la hauteur */
  object-fit: cover;
  border-radius: 10px;
}
.placeholder {
  font-weight: bold;
  color: #999;
}

.deleteButton {
  position: absolute;
  bottom: 8px;
  right: 8px;
  border: none;
  background: #c13c8e;
  color: #fff;
  border-radius: 6px;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.deleteButton:hover {
  background: #f9b226;
}