.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancel {
  background: #eee;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

.confirm {
  background: #c13c8e;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}