.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #f9b226, #c13c8e);
}

.card {
  background: #ffffff;
  padding: 2rem;
  border-radius: 14px;
  width: 100%;
  max-width: 380px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  color: #68c6E1;
  font-weight: bold;
}

.error {
  background: #ffe5e5;
  color: #e63946;
  padding: 0.6rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  text-align: center;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  color: #68c6E1;
  font-weight: bold;

}

.input {
  padding: 0.7rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
  outline: none;
}

.input:focus {
  border-color: #68c6E1;
}

.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordEye {
  position: absolute;
  right: 10px;
  cursor: pointer;
  user-select: none;
}

.button {
  width: 100%;
  padding: 0.8rem;
  margin-top: 1rem;
  border: none;
  border-radius: 10px;
  background: #68c6E1;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.button:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 18px rgba(102, 126, 234, 0.4);
}